<h4>Index of users</h4>

<p><%= link_to 'New user', new_user_registration_path, class: "btn btn-outline-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Username</th>
			<th>Roles</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr class="user">
			<td><%= user.username %></td>
			<td>
			<%= form_for user do |f| %>
				<div class="form-check form-check-inline">
					<%= f.check_box :superadmin_role, class: "form-check-input" %>
					<%= label_tag 'Superadmin', nil, class: "form-check-label" %>
				</div>
				<div class="form-check form-check-inline">
					<%= f.check_box :admin_books_role, class: "form-check-input" %>
					<%= label_tag 'Books admin', nil, class: "form-check-label" %>
				</div>
				<div class="form-check form-check-inline">
					<%= f.check_box :admin_categories_role, class: "form-check-input" %>
					<%= label_tag 'Category admin', nil, class: "form-check-label" %>
				</div>
				<%= f.submit 'Update', class: "btn btn-outline-primary update-role" %>
			<% end %>
			</td>
			<td><%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %></td>
		</tr>
	<% end %>
	</tbody>
</table>
