<h4>Index of books</h4>

<p><%= link_to 'New book', new_book_path, class: "btn btn-outline-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Cover</th>
			<th>Title</th>
			<th>Author(s)</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @books.each do |item| %>
		<tr>
			<td><%= image_tag item.cover.url(:thumb) %></td>
			<td><%= item.title %></td>
			<td><%= item.authors.map(&:name).join(', ') %></td>
			<td><%= item.description %></td>
			<td>
				<p><%= link_to 'Edit', edit_book_path(item), class: "btn btn-outline-primary btn-block" %></p>
				<p><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %></p>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>