<h2>Index of categories</h2>
<ul>
<% @categories.each do |item| %>
	<li>
		<% books_count = item.books.count %>
		<p><%= link_to item.name, item %><%= " (#{books_count} books)" %>
		<%= link_to 'DEL', item, method: :delete if books_count == 0 %></p>
	</li>
<% end %>
</ul>

<%= form_for @category do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>