<h2>Index of categories</h2>
<ul>
<% @categories.each do |item| %>
	<li>
		<p><%= link_to item.name, item %><%= " (#{item.books.count} books)" %>
		<%= link_to 'DEL', item, method: :delete %></p>
	</li>
<% end %>
</ul>

<%= form_for @category do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>