<h2>Index of categories</h2>
<ul>
<% @categories.each do |item| %>
	<li>
		<%= item.name %> 
		<%= button_to 'DEL', item, method: :delete %>
	</li>
<% end %>
</ul>

<%= form_for [@category] do |f| %>
	<%= f.text_field :name %>
	<%= f.submit %>
<% end %>