<h4>List of books in the <%= @category.name %> cathegory</h4>
<ul class="list-group">
<% @category.books.each do |book| %>
	<li class="list-group-item">
	<%= form_for book do |f| %>
		<div class="form-row">
			<div class="col">
				<%= label_tag "#{book.title}", nil, class: "col-form-label" %>
			</div>
			<div class="col">
				<%= f.select :category_id, Category.all.collect{|c| [c.name, c.id]}, {}, { class: "form-control" } %>
			</div>
			<div class="col">
				<%= f.submit "Change category", class: "btn btn-outline-primary" %>
			</div>
		</div>
	<% end %>
	</li>
<% end %>
</ul>
<%= link_to '<< Back', categories_path %>