<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if flash[:alert] %>
		<%= flash[:alert] %>
	<% end %>
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	<br>

  <%= link_to 'Home', home_path %> |
	<%= link_to 'Categories', categories_path %> | 
	<%= link_to 'Authors', authors_path %> | 
  <%= link_to 'Books', books_path %>

    <%= yield %>
  </body>
</html>
